#!/bin/bash

function usage ()
{
        echo ""
        echo -e " Usage : $0 [-g groupe_ldap] [-c nom_du_cluster] [-p email_pe] [-s email_copie]"
        echo -e ""
	exit 1
}

while getopts g:c:p:s:h x 2> /dev/null
do
    case $x in
        \? )    usage                   ;;
         h )    usage                   ;;
	 g )    groupldap="$OPTARG"     ;;
	 c ) 	cluster="$OPTARG"	;;
	 p )	email_pe="$OPTARG"      ;;
	 s )	email_copie="$OPTARG"	;;
    esac
done
shift $(($OPTIND - 1))

if [ -z "${cluster}" -o -z "${email_pe}" ]; then
    usage
fi

log_file="/var/log/report.log"
file_report="/tmp/user-reporting-${cluster}_$(date '+%d_%m_%Y')"

# Recup conf via conf sssd
# -------------------------
cmdsssd=$(awk '/^ldap_uri/{ldap_uri=$NF};/^ldap_default_bind_dn/{ldap_default_bind_dn=$NF};/^ldap_default_authtok/{ldap_default_authtok=$NF};/^ldap_search_base/{ldap_search_base=$NF} {print ldap_uri"|"ldap_default_bind_dn"|"ldap_default_authtok"|"ldap_search_base}' /etc/sssd/sssd.conf | tail -n 1 | sed 's/ldap_default_bi  nd_dn=//g;s/ldap_default_authtok=//g;s/ldap_search_base=//g;s/ldap_default_bind_dn=//g')
IFS="|" read ldapserver loginldapserver passldapserver baseldapserver <<<  "${cmdsssd}"

listaccount=$(ldapsearch -x -LLL -H ${ldapserver} -D ${loginldapserver} -w ${passldapserver} -b ${baseldapserver} cn=${groupldap} | awk '/^member:/ {print$2}' | awk -F "," '{print$1}'| sed 's/uid=dummy//g')
nb_users=$(echo ${listaccount} | tr " " "\n" | wc -l)

grp=$(echo ${groupldap} | awk -F "-" '{print$NF}')
nbusersubmit7=$(sacct -X -S $(date -d "7 days ago" +"%Y-%m-%dT00:00:00") -n -o user,account| grep $grp |sort -u|wc -l)
nbusersubmit1=$(sacct -X -S $(date +"%Y-%m-01T00:00:00") -n -o user,account| grep $grp |sort -u|wc -l)
consommation=$(sshare -h -P -o EffectvUsage -A $grp)

echo '<html><head>' > ${file_report}
echo '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>' >> ${file_report}
echo '<title>weekly report</title>' >> ${file_report}
echo '</head><body>' >> ${file_report}
echo '<br><br>' >> ${file_report}
echo '<a>Dear PP,<a><br><br><br>' >> ${file_report}
echo '<a>The consommation of cluster for account <b>'$grp'</b> is currently at <b>'$consommation'</b> <b></a><br><br>' >> ${file_report}
echo '<table style="width:80%;text-align:center">' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">&nbsp;</th>' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">User who submitted at least 1 job</th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<tr><td>Since '$(date -d "7 days ago" +"%Y-%m-%d")'</td><td>'${nbusersubmit7}'</td></tr>' >>${file_report}
echo '<tr><td>Since '$(date +"%Y-%m-01")'</td><td>'${nbusersubmit1}'</td></tr>' >>${file_report}
echo '</table><br><hr><br><br>' >>${file_report}
echo '<a>Please find include a list of the <b>'${nb_users}'</b> users of the <b>'${cluster}'</b> cluster belonging to the <b>'${groupldap}'</b> group:</a><br><br>' >> ${file_report}
echo '<table style="width:80%;text-align:left">' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Login</th>' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Status</th>' >>${file_report}
echo '<th style="width:60%;background:#A5CEF7">mail<th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<tr><td>&nbsp;<td><td>&nbsp;<td><td>&nbsp;<td></tr>' >>${file_report}

for nni in ${listaccount};do

	cmdldaprec=$(ldapsearch -x -LLL -H ${ldapserver} -D ${loginldapserver} -w ${passldapserver} -b ${baseldapserver} ${nni} | awk '/^uid:/ {login=$2};/^employeeType:/ {statut=$2};/^mail:/ {mail=$2}; {print login"|"statut"|"mail}' | tail -n 1 ) 	
	IFS="|" read login statut mail <<<  "${cmdldaprec}"
	echo '<tr><td>'${login}'</td><td>'${statut}'</td><td>'${mail}'</td></tr>' >>${file_report}
	mailusercluster+="${mail} "

done

echo '</table><br><hr><br><br>' >>${file_report}
echo '<a>Please find the resume of all e-mail addresses to update the list in notes :</a><br><br>' >>  ${file_report}
echo '<a style="color:blue">' >> ${file_report}
echo ${mailusercluster[*]} | tr " " "," >> ${file_report}
echo '</a>' >> ${file_report}
echo '<br><br><br><br><br></body></html>' >> ${file_report}

# Envoi du mail
cat ${file_report} | mailx -a "From: <%= @config_options['send_from'] %>" -a "Content-Type: text/html" -c "${email_copie}" -s "[$(echo ${cluster}|sed -e 's/.*/\U&/') |${groupldap}] : Weekly report of ${nb_users} users in the ${groupldap} at $(date +%m/%Y)" "${email_pe}"

